<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/editpokemon.css' />
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <meta charset="utf-8">
  <title>Pokemon</title>
</head>

<body>
  <div id="container">
    <div id="header">
      <div class="navbar-fixed">
        <nav class="fafafa grey lighten-5">
          <div class="container" id="nav">
            <div class="nav-wrapper">
              <a href="" class="logo">
                    <img src="/images/pokemon-logo.png" alt="1">
                </a>
              <ul class="right hide-on-med-and-down">
                <li><a href="/pokemon">POKEMON</a></li>
                <li><a href="/trainers">TRAINERS</a></li>
                <li><a href="#Link3">GYM</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  <div id="section">
 <div id="inside" href= "/editpokemon">
   <form class="form" action="/update/<%= pokemon.id %>" method="post">
    Name: <input type="text" name="name" value="<%=pokemon.name%>">
    Trainer ID:<input type="number" name="trainer_id" value="<%=pokemon.trainer_id%>">
    Gym: <input type="text" name="in_gym" value="<%=pokemon.in_gym%>">
    Combat Power:<input type="number" name="cp" value="<%=pokemon.cp%>">
      <input class="buttonn"type="submit" value="Update">
   </form>
   <h4>Trainers:</h4>
   <select>
     <% for(let i = 0; i<trainer.length; i++){ %>
  <option value='<%=trainer[i].id%>'><%=trainer[i].name%></option>
  <% } %>
  <% for(let i = 0; i<trainers.length; i++){ %>
    <% if(trainers[i].id != pokemon.trainer_id){ %>
      <option value=""><%=trainers[i].name%></option>
  <% } %>
  <% } %>

</select>

</div>
  </div>
</body>

</html>
